@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=MedievalSharp&display=swap');

html{
    font-size: 20px;
}

:root {
    --Primary: #c2bdb7;
    --PrimaryL: #f1ece6;
    --PrimaryD: #7f7b81;
    --Secondary: #707a8a;
    --SecondaryL: #909cb5;
    --Accent: #b9c1d1;
    --Red: #6d514d;
}

body {
    margin: 5rem 10rem;
    background-color: var(--Primary);
    height: auto;
    max-width: 100%;
    font-family: "Caudex", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.body-dark {
    background-color: var(--PrimaryD);
    color: var(--PrimaryL);
}

.gandalf-theme-button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
}

.gandalf-header{
    background-color: var(--SecondaryL);
    padding: 25px 40px;
    text-align: center;
    border: 2px solid var(--Secondary);
}

.gandalf-header > h1{
    margin: 0;
}

.gandalf-section{
    padding: 20px;
    border: 15px solid var(--PrimaryL);
    max-width: 100rem;
}

h3, h2{
    margin: 0;
    color: var(--Red);
}

.gandalf-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 0px 20px;
}

.gandalf-image{
}

.gandalf-image > img{
    border: 5px solid var(--PrimaryD);
    width: 100%;
}

.gandalf-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.gandalf-list > h3{
    margin-top: 5px;
    margin-bottom: 0;
}

.intro{
    border: 5px solid var(--PrimaryD);
}